<div class="container">
  <h1>About</h1>

  <p>For more information about obtaining a resident or visitor beach parking permit, click <%= link_to 'here', 'https://www.colliergov.net/Index.aspx?page=2665'%>.</p>


</div>
