<div class="container">
  <h1>Contact</h1>
  
  <h3>Feedback</h3>
  <p>Have a suggestion? Please contact us using the form below.</p>

  <h3>Advertising</h3>
  <p>If you are interested in advertising on the site please click <strong>here</strong>.</p>


  </article>
