<h1>Listing Beach Accesses</h1>
  <% @beach_accesses.each do |beach_access| %>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
        </a>
        <h3>
            <p><%= link_to(beach_access.location) %></p>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>



<% end %>
